<div class="container">
  <div style="text-align: center; margin: 3%">
    <h2>{{ edicion ? 'Editar Usuario' : 'Registrar Usuario' }}</h2>
  </div>

  <div style="text-align: center;">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">

      <br />

      <!-- Nombre Usuario -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre de Departamento</mat-label>
        <input matInput formControlName="name" required />
        @if(form.get('name')?.hasError('required')) {
          <mat-error>El campo Nombre es obligatorio.</mat-error>
        }
      </mat-form-field>

      <br />

      <button mat-button>{{ edicion ? 'Actualizar' : 'Registrar' }}</button>
    </form>
  </div>
</div>
